# logging

LOG_LEVEL="info"
LOGTAIL_SOURCE_TOKEN=""

# CockroachDB
DB_URL=""

# Twilio-Setup
TWILIO_ACCOUNT_SID = ""
TWILIO_AUTH_TOKEN = ""
TWILIO_SERVICE_SID = ""


# Rapid-API Setup
X-RapidAPI-Key= "" 
X-RapidAPI-Host= ""